* {
    padding: 0;
    margin: 0;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #F3F2F7;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */

.wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-right: 50px;

    a {
        text-decoration: none;
        color: #000;
    }
}

.contact {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* SECTION1 */

.wrap1 {
    display: flex;
    margin-top: 35px;

    img {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }

}

.box1 {
    background-color: #299AB3;
    color: #fff;
    width: 500px;

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;


    h1 {
        font-size: 35px;
        padding: 56px 50px 24px;
        
    }

    p {
        font-size: 24px;
        padding: 0 50px;
        margin-bottom: 200px;
    }
}

.btn1 {
    padding: 13px 30px;
    border-radius: 50px;
    color: #299AB3;
    border: none;
    margin-left: 50px;
}


.wrap11{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin-top: 52px;
    margin-bottom: 52px;
}

.card1{
    text-align: center;

    h3{
        font-size: 24px;
        margin-bottom: 12px;
        font-weight: 600;
    }

    p{
        font-size: 17px;
    }

    img{
        margin-bottom: 20px;
    }
}


/* SECTION2 */

.section2{
    h2{
        margin-bottom: 32px;
        font-weight: 600;
    }
}

.wrap2{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card2{
    background-color: #fff;
    max-width: 232px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    
    h4{
        font-size: 16px;
        font-weight: 400;
        margin-left: 24px;
    }
    p{
        font-size: 16px;
        margin-left: 24px;
    }
}

.price{
    display: flex;

    p{
        margin-right: 12px;
    }
}

.btn2{
    max-width: 194px;
    padding: 10px 60px;
    background-color: #299AB3;
    color: #fff;
    border: none;
    border-radius: 12px;
    margin-left: 24px;
    margin-bottom: 24px;
}

.wrap22{
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;

    img {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }

}

.btn3{
    padding: 12px 125px;
    background-color: #024764;
    color: #fff;
    border: none;
    border-radius: 12px;
    margin-left: 50px;
    margin-bottom: 25px;
}

.box2{
    background-color: #299AB3;
    color: #fff;
    width: 500px;

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;


    h1 {
        font-size: 31px;
        padding: 56px 50px 24px;
        
    }

    p {
        font-size: 16px;
        padding: 0 50px;
        margin-bottom: 200px;
    }

    }

.inputs{
    display: flex;
    flex-direction: column;

    input{
        max-width: 250px;
        padding: 10px 30px;
        margin-left: 50px;
        border-radius: 12px;
        border: none;
        &:nth-child(2){
            margin: 12px 0 12px;
            margin-left: 50px;
        }
    }
}

.box22{
    background-color: #299AB3;
    color: #fff;
    width: 500px;

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;


    h1 {
        font-size: 24px;
        padding: 56px 50px 24px;
        margin-bottom: 130px;
        
    }

    p {
        font-size: 16px;
        padding: 0 50px;
        margin-bottom: 200px;
    }
}

.wrap222{
    display: flex;
    gap: 55px;
    background-color: #fff;
    border-radius: 24px;
    padding: 56px;
    margin-bottom: 56px;

    img{
        border-radius: 8px;
    }
}

iframe{
    margin: 0 auto;
    display: block;
    margin-bottom: 60px;
}

/* FOOTER */

.wrap-end{
    display: flex;
    justify-content: space-between;
}

.end1{
    display: flex;
    flex-direction: column;
    gap: 20px;

    img{
        max-width: 100px;
    }
    p{
        cursor: pointer;
        }
}

.end2{
    display: flex;
    flex-direction: column;
    gap: 20px;

    p{
    cursor: pointer;
    }
}

.end3{
    display: flex;
    flex-direction: column;
    gap: 20px;

    p{
        cursor: pointer;
        line-height: 22px;
    }


}

.contacts{
    display: flex;
    gap: 10px;
}